@tailwind base;
@tailwind components;
@tailwind utilities;

.progress {
  /* border-radius: 50%; */
  width: 100%;
  height: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.progress::-webkit-progress-bar {
  border-radius: 50%;
}
.progress::-webkit-progress-value {
  background-color: #01a292;
  /* #20212a */
  border-radius: 50%;
}

.progress-bar {
  /* Set the width and height */
  width: 100%;
  height: 8px;
  /* Add box shadow for a nice effect */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* Style the progress bar track */
.progress-bar::-webkit-progress-bar {
  /* Set border-radius for the track */
  border-radius: 20px; /* You can adjust this value */
}

/* Style the progress bar fill */
.progress-bar::-webkit-progress-value {
  /* Set background color for the fill */
  background-color: #ff00ff; /* Adjust color as needed */
  /* Set border-radius for the fill */
  border-radius: 20px; /* Match the border-radius of the track */
}

.review-bar {
  /* Set the width and height */
  width: 100%;
  height: 5px;
  /* Add box shadow for a nice effect */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* Style the progress bar track */
.review-bar::-webkit-progress-bar {
  /* Set border-radius for the track */
  border-radius: 20px; /* You can adjust this value */
}

/* Style the progress bar fill */
.review-bar::-webkit-progress-value {
  /* Set background color for the fill */
  background-color: #ff00ff; /* Adjust color as needed */
  /* Set border-radius for the fill */
  border-radius: 20px; /* Match the border-radius of the track */
}

/* CSS */
/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0; /* Color of the scrollbar handle */
  border-radius: 4px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; /* Color of the scrollbar handle on hover */
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #838383; /* Border color for unchecked */
  background-color: transparent; /* Background color for unchecked */
  position: absolute;
  left: 0;
  border-radius: 3px;
  top: 0;
}

.custom-checkbox:checked::before {
  background-color: transparent; /* Background color for checked */
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #000;
}
